<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Chat Page</title>
    <link rel="stylesheet" href="/css/user_page.css">
</head>
<body>
    <div class="menu-bar">
        <ul>
            <li><a href="user_page.html">Messages</a></li>
            <li><a href="#">AI CHATBOT</a></li>
            <li><a href="#">LOG OUT</a></li>
        </ul>
    </div>
    <div id="chat-container" style="border:1px solid red;">
        
    </div>



</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Messages</title>
    <!-- <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }
        .message {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style> -->
    <link rel="stylesheet" href="/css/user_page.css">
    <script src="/js/user_page.js" defer></script>
</head>

<body>
    <div class="menu-bar">
        <ul>
            <li><a href="#">Messages</a></li>
            <li><a href="#">AI CHATBOT</a></li>
            <li><a href="/logout">LOG OUT</a></li>
            <button id="addConversationModal">Add Conversation</button>
            <button id="deleteConversationModal">Delete Conversation</button>

        </ul>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="addConversation" method="post" action="/">
                <div class="form-group">
                    <label for="messageTitle" id="labelForConversation">Title</label>
                    <select id="messageTitle" name="partnerId" required>
                        <% users.forEach(user=> { %>
                            <option value= <%= user.UserID %> >
                                <%= user.Username %>
                            </option>
                        <% }); %>
                    </select>
                    <!-- <input type="text" id="messageTitle" name="partnerId" required> -->
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div id="chat-container" style="border:1px solid red;">
        <% convos.forEach(convo=> { %>
            <div class="convo">
                <li>
                    <a href="/conversation/<%= convo.ConversationID %>">
                        <%= convo.Username %> : &emsp; <%= convo.lastSentMessage %>
                    </a>
                </li>
            </div>
        <% }); %>

    </div>
</body>

</html>