<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Messages</title>
    <link rel="stylesheet" href="/css/user_page.css">
    <link rel="stylesheet" href="/css/conversation_page.css">
    <script src="/js/user_page.js" defer></script>

</head>

<body>
    <div class="menu-bar">
        <ul>
            <li><a href="#">Messages</a></li>
            <li><a href="#">AI CHATBOT</a></li>
            <li><a href="/logout">LOG OUT</a></li>
            <button id="addConversationModal">Add Conversation</button>
            <!-- <button id="deleteConversationModal">Delete Conversation</button> -->

        </ul>
    </div>
    <div>
        UserID: <%- userID %> 
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="addConversation"  method="post" action="/">
                <div class="form-group">
                    <label for="partners" id="labelForConversation">Title</label>
                    <select id="partners" name="partnerID" required>
                        <% users.forEach(user=> { %>
                            <option value= <%= user.UserID %> >
                                <%= user.Username %>
                            </option>
                        <% }); %>
                    </select>
                    <!-- <input type="text" id="messageTitle" name="partnerId" required> -->
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div id="chat-container" style="border:1px solid red;">
        <% convos.forEach(convo=> { %>
            <ul class="convo">
                <li>
                    <a href="/userPage/<%= convo.ConversationID %>">
                        <%= convo.Username %> : &emsp; <%= convo.LastSentMessage %>
                    </a>
                    <a class="delete-button" href="/deleteConvo/<%= convo.ConversationID %>" >
                        <img src="/assets/trashcan.png">
                    </a>
                </li>
            </ul>
        <% }); %>
    </div>
    <div id="message-container">
        <%- include ('conversation_page', { messages: messages, partner: partner, conversationID: conversationID }); %>
    </div>
    
</body>

</html>